@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    font-family: "Kode Mono", monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
}