/* header  */
.heading_lg
{
    background-color: green;
    margin: 0px 0px;
}
/* ------------------------- */


/* navigation bar  */
.navbar_lg
{
    background-color: rgb(0, 97, 0);
}

.navlist_lg
{
    list-style: none;
    margin: 0px;
}

.navlist_lg .right
{
    float: right;
    margin-right: 30px;
    
}

.navlist_lg li
{
    display: inline-block;
    padding: 6px;
}

.navlist_lg li a
{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navlist_lg li:hover 
{
    background-color: white;
}

.navlist_lg li a:hover
{
    color: rgb(0, 97, 0);
}
/* ------------------------- */



/* registration system  */

.lg_page {
    width: 100%;
    max-width: 900px;
    background: color-mix(in srgb, green 30%, white 70%);
    padding: 30px;
    /* border-radius: 15px; */
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); */
    animation: fadeIn 1s ease forwards;
}

.lg_h2 {
    text-align: center;
    color: green;
    margin-bottom: 20px;
    animation: slideDown 1s ease forwards;
    font-size: 26px;
    font-weight: bold;
}

h3 {
    color: green;
    margin-top: 20px;
    border-bottom: 2px solid green;
    padding-bottom: 5px;
    font-weight: bold;
}

.c_lglabel {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: green;
}

.lg_input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid green;
    /* border-radius: 8px; */
    outline: none;
}

.lg_input:focus,
textarea:focus {
    border-color: green;
    box-shadow: 0 0 8px rgba(255, 111, 97, 0.3);
}

.lg_btn {
    background-color: green;
    color: white;
    border: 2px solid gray;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: medium;
    /* border-radius: 8px; */
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.5px;
    /* animation: bounce 1s infinite; */
}

.lg_btn:hover {
    background-color: white;
    color: green;
}
/* ------------------------- */